.page {
  padding: 32px;
}
.container {
  padding: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 500px;
}

@media (max-width: 900px) {
  .header {
    width: 300px;
  }
}
