.placeholder {
    display: inline-block;
    width: 100%;
    height: 263px;
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 15px;
    border-style: 'solid';
}

.container {
    margin-top: 27px;
    margin-left: 30px;
  }

.title{
    display: flex;
}

.name{
    font-size: 35px;
    margin-bottom: 18px;
}

.cuptype{
    color: #ffffff;
    font-family: "Space Mono";
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 30px;
    border-radius: 50px;
    background: #DA93D3;
    width: 101px;
    height: 30px;
    text-align: center;
}

.commis{
    font-style: italic;
    margin-top: 14px;
}

.buyin{
    margin-top: 12px;
}

.date{
    margin-top: 12px;
    margin-bottom: 54px;
}

.center{
    text-align: center;
}