.padding{
    margin-top: 32px;
    margin-left: 44px;
}

.cuptype{
    color: #ffffff;
    font-family: "Space Mono";
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 30px;
    border-radius: 50px;
    background: #DA93D3;
    width: 101px;
    height: 30px;
    text-align: center;
    margin-bottom: 14px;
}

.ongoing{
    margin-bottom: 24px;
}

.upcoming{
    margin-top: 42px;
    margin-bottom: 24px;
}

.placeholder {
    display: inline-block;
    width: 316px;
    height: 316px;
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 15px;
    border-style: 'solid';
    margin-bottom: 27px;
}

.name {
    margin-bottom: 18px;
}

.leaderboardProfile{
    display: inline-grid;
    width: 79px;
    height: 79px;
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 50%;
    border-style: 'solid';
    margin-bottom: 27px;
    counter-set: rank 1;
}



.content-img{
    counter-increment: rank;
    content: counter(rank);
}