.header {
  display: flex;
  flex-direction: row;
  margin-left: 3%;
  margin-right: 3%;
  max-width: 90vw;
  align-items: center;
}

.mobileHeader {
  display: flex;
  flex-direction: row;
  width: 25%;
}

@media screen and (max-width: 700px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .mobileHeader {
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .title {
    font-size: 23px;
    line-height: 30px;
  }

  .header {
    justify-content: center;
    align-items: flex-start;
  }
}

.container {
  background-color: #13172C;
  min-height: 100vh;
}

.containerLogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  margin-left: 29px;
  margin-top: 33px;
}

.summaryContainer{
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
}

@media screen and (max-width: 1050px) {
  .summaryContainer {
    flex-direction: column;
  }

  .summaryContainerItem {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }
}

.title1{
  margin-top: 12px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.gradient{
  background: linear-gradient(90deg, #DA93D3 0%, #6B58B8 57.13%, #89E4DF 105.35%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 'bold';
}

.diamond{
  margin-left: 20px;
}

.summary{
  width: 60%;
}

.launchCupButton{
  margin-top: 31px;
}

.container1{
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgba(47, 56, 105, 0.6);
  min-height: 188px;
}

@media screen and (max-width: 1050px) {
  .container1 {
    flex-direction: column;
  }

  .summary {
    width: 100%;
  }
}

.iconSpacing {
  margin-left: 21px;
}

.container2{
  display: flex;
  margin: 5%;
  align-items: center;
  align-content: center;
}

.container3{
  margin: 5%;
  min-height: 50vh;
}

.italicSpacing {
  margin-bottom: 13px;
}

.aboutus{
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}

.fantasy{
  font-style: italic;
}

.aboutSpacing{
  margin-bottom: 3%;
}

.faq {
  margin-bottom: 3%;
}

.questionContainer{
  display: flex;
}

.question{
  margin-bottom: 6px;
  margin-left: 20px;
}

.answer{
  margin-bottom: 29px;
  margin-left: 32px;
}

.answer3{
  margin-left: 32px;
}
