.container {
  background-color: #13172C;
  /* min-height: 100vh; */
  /* flex: 1;
  display: flex;
  flex-direction: column; */
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.launch {
  flex-direction: row;
  display: flex;
}

.containerLogo {
  display: flex;
}

.logo {
  margin-left: 29px;
  margin-top: 33px;
}

.title {
  margin-top: 52px;
}

.about {
  margin-top: 68px;
}

.faq{
  margin-left: 78px;
  margin-top: 68px;
}

.launchButton{
  margin-top: 56px;
  margin-left: 78px;
  margin-right: 51px;
}

.summaryContainer{
  margin-top: 84px;
  margin-left: 78px;
}

.title1{
  margin-top: 12px;
  margin-bottom: 15px;
  display: flex;
}

.diamond{
  margin-left: 20px;
  margin-top: 10px;
}

.summary{
  width: 585px;
}

.launchCupButton{
  margin-top: 31px;
}

.container1{
  margin-top: 179px;
  margin-bottom: 45px;
  background-color: rgba(47, 56, 105, 0.6);
  height: 188px;
}

.star{
  width: 22.91%;
  margin-top: 49px;
  padding-left: 76px;
  display: flex;
}

.bet{
  width: 22.29%;
  margin-top: 49px;
  margin-left: 89px;
  display: flex;
}

.globe{
  width: 20.08%;
  margin-top: 49px;
  margin-left: 88px;
  display: flex;
}

.iconSpacing {
  margin-left: 21px;
}

.container2{
  justify-content: space-around;
  display: flex;
}

.container3{
  margin-left: 80px;
}

.italicSpacing {
  margin-bottom: 13px;
}

.headerSpacing{
  margin-bottom: 31px;
}

.aboutSpacing{
  margin-bottom: 45px;
}

.questionContainer{
  display: flex;
}

.question{
  margin-bottom: 6px;
  margin-left: 20px;
}

.answer{
  margin-bottom: 29px;
  margin-left: 32px;
}

.answer3{
  margin-bottom: 71px;
  margin-left: 32px;
}

.footer {
  display: flex;
  height:  220px;
  /* flex-grow: 1; */
  flex-direction: row;
  justify-content: space-between;
  background: rgba(47, 56, 105, 1);
}

.login{
  margin-left: 73px;
  margin-right: 51px;
}

/* .footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
} */

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
