.container {
  background-color: #13172C;
}

.containerLogo {
  display: flex;
}

.logo {
  margin-left: 29px;
  margin-top: 33px;
}

.title {
  margin-top: 52px;
}

.summaryContainer{
  margin-top: 53px;
  margin-left: 78px;
  display: flex;
}

.title1{
  margin-top: 12px;
  margin-bottom: 15px;
  display: flex;
}

.diamond{
  margin-left: 20px;
  margin-top: 10px;
}

.summary{
  width: 60%;
}

.launchCupButton{
  margin-top: 31px;
}

.container1{
  margin-top: 74px;
  margin-bottom: 45px;
  background-color: rgba(47, 56, 105, 0.6);
  height: 188px;
}

.iconSpacing {
  margin-left: 21px;
}

.container2{
  display: flex;
  margin-left: 76px;
}

.container3{
  margin-left: 80px;
  margin-right: 100px;
  height: 875px;
}

.italicSpacing {
  margin-bottom: 13px;
}

.aboutus{
  display: flex;
}

.headerSpacing{
  margin-bottom: 31px;
}

.fantasy{
  font-style: italic;
}

.aboutSpacing{
  margin-bottom: 45px;
}

.questionContainer{
  display: flex;
}

.question{
  margin-bottom: 6px;
  margin-left: 20px;
}

.answer{
  margin-bottom: 29px;
  margin-left: 32px;
}

.answer3{
  margin-left: 32px;
}
