.loginContainer{
    margin-top: 39px;
    margin-left: 78px;
    display: flex;
  }

.titleContainer{
    display: flex;
}

.signup {
    color: #DA93D3;
    font-weight: 700;
}

.or {
    font-weight: 100;
}

.labelSpacing {
    margin-top: 27px;
}

.checkboxPos {
    margin-right: 16px;
}

.signupButton {
    width: 525px;
    margin-top: 29px;
    margin-bottom: 28px;
    text-align: center;
}

.dropdown {
    color: #ffffff;
    pointer-events: auto;
}